stack = "{{ rc.stack.name }}"
resource_group = "{{ rc.azure_aks.resourcegroup | default(rc.stack.name+"-rg", true) }}"
client_id = "{{ rc.azure_aks.serviceprincipal.client.id }}"
client_secret = "{{ rc.azure_aks.serviceprincipal.client.secret }}"
node_count = "{{ rc.azure_aks.node.count }}"
node_size = "{{ rc.azure_aks.node.size }}"
location = "{{ rc.azure_aks.location }}"